In [1]:
import pandas as pd
from cleaning_instagram import *
from cleaning_youtube import *
from cleaning_tiktok import *

In [2]:
instagram = pd.read_csv("instagram-sep-2022.csv")
tiktok = pd.read_csv("tiktok-sep-2022.csv")
youtube = pd.read_csv("youtube-sep-2022.csv")

# Instagram

In [3]:
instagram_clean = instagram.pipe(
    check_name_problem_instagram
).pipe(
    drop_useless_cols_instagram
).pipe(
    converting_instagram
).pipe(
    rename_instagram
).pipe(
    sort_values_instagram
)

# YouTube

In [4]:
youtube_clean = youtube.pipe(
    check_name_problem_youtube
).pipe(
    drop_useless_cols_youtube
).pipe(
    converting_youtube
).pipe(
    rename_youtube
).pipe(
    sort_values_youtube
)

# TikTok

In [5]:
tiktok_clean = tiktok.pipe(
    drop_useless_cols_tiktok
).pipe(
    converting_tiktok
).pipe(
    rename_tiktok
).pipe(
    sort_values_youtube
)

In [7]:
tiktok_clean

,dfer,name,subscribers,views_avg,likes_avg,comments_avg,shares_avg
0,jomaryee,Jomar Yee,9M,2300000,226700,1300,626
1,vivinovikaa,Viviüß∏,999.1K,1600000,197900,1700,945
2,marilynl19,user1692838440296,995.2K,1100000,162300,4400,2500
3,iniganta,Ganta,986.8K,1300000,160700,3300,1900
4,guywithamoviecamera,reece,981.5K,1400000,329000,1100,1400
...,...,...,...,...,...,...,...
995,paansih16,gustian_magrib,1.1M,2900000,230500,1200,27700
996,greatekyroga,u can call me sasha,1.1M,1100000,320300,1900,1000
997,songsforlittles,Ms Rachel,1.1M,2600000,187500,1600,1700
998,...anddy_,ANDDY üê∫üåô,1.1M,937100,141900,7300,792
999,com.hyuga1117,„Äê„Ç≥„É†„Éâ„ÉÉ„Éà„Äë „Å≤„ÇÖ„ÅÜ„Åå,1.1M,1500000,165800,4700,993

In [6]:
a

NameError: name 'a' is not defined

In [ ]:
tiktok.head()

,S.no,Tiktoker name,Tiktok name,Subscribers,Views avg.,Likes avg.,Comments avg.,Shares avg.
0,1,jypestraykids,Stray Kids,13.8M,6.4M,2.3M,50.2K,34.2K
1,2,khaby.lame,Khabane lame,149.2M,17.3M,2.3M,15.2K,8.7K
2,3,scarlettsspam2,scarlett,2.1M,17.9M,845.8K,53.9K,6.3K
3,4,addisonre,Addison Rae,88.7M,22M,906.6K,7.6K,26.2K
4,5,belindatok,Belinda,4.8M,14.2M,1.5M,14.5K,15.3K

In [ ]:
tiktok["Views avg."] = tiktok["Views avg."].apply(lambda x: convert_metric(x)).astype(int)
tiktok["Likes avg."] = tiktok["Likes avg."].apply(lambda x: convert_metric(x)).astype(int)
tiktok["Comments avg."] = tiktok["Comments avg."].apply(lambda x: convert_metric(x)).astype(int)
tiktok["Shares avg."] = tiktok["Shares avg."].apply(lambda x: convert_metric(x)).astype(int)

In [ ]:
tiktok.head()

,S.no,Tiktoker name,Tiktok name,Subscribers,Views avg.,Likes avg.,Comments avg.,Shares avg.
0,1,jypestraykids,Stray Kids,13.8M,6400000,2300000,50200,34200
1,2,khaby.lame,Khabane lame,149.2M,17300000,2300000,15200,8700
2,3,scarlettsspam2,scarlett,2.1M,17900000,845800,53900,6300
3,4,addisonre,Addison Rae,88.7M,22000000,906600,7600,26200
4,5,belindatok,Belinda,4.8M,14200000,1500000,14500,15300

In [ ]:
tiktok.rename( columns={
    "S.no" : "rank",
    "Tiktoker name": "tiktoker",
    "Tiktok name" : "name",
    "Subscribers" : "subscribers",
    "Views avg." : "views_avg",
    "Likes avg." : "likes_avg",
    "Comments avg." : "comments_avg",
    "Shares avg.": "shares_avg"
}, inplace = True)

In [ ]:
tiktok.head()

,rank,tiktoker,name,subscribers,views_avg,likes_avg,comments_avg,shares_avg
0,1,jypestraykids,Stray Kids,13.8M,6400000,2300000,50200,34200
1,2,khaby.lame,Khabane lame,149.2M,17300000,2300000,15200,8700
2,3,scarlettsspam2,scarlett,2.1M,17900000,845800,53900,6300
3,4,addisonre,Addison Rae,88.7M,22000000,906600,7600,26200
4,5,belindatok,Belinda,4.8M,14200000,1500000,14500,15300