In [1]:
import pandas as pd
from cleaning_instagram import *
from cleaning_youtube import *

In [2]:
instagram = pd.read_csv("instagram-sep-2022.csv")
tiktok = pd.read_csv("tiktok-sep-2022.csv")
youtube = pd.read_csv("youtube-sep-2022.csv")

# Instagram

In [3]:
instagram_clean = instagram.pipe(
    check_name_problem_instagram
).pipe(
    drop_useless_cols_instagram
).pipe(
    converting_instagram
).pipe(
    rename_instagram
).pipe(
    sort_values_instagram
)

# YouTube

In [4]:
youtube_clean = youtube.pipe(
    check_name_problem_youtube
).pipe(
    drop_useless_cols_youtube
).pipe(
    converting_youtube
).pipe(
    rename_youtube
).pipe(
    sort_values_youtube
)

# TikTok

In [5]:
tiktok.head()

,S.no,Tiktoker name,Tiktok name,Subscribers,Views avg.,Likes avg.,Comments avg.,Shares avg.
0,1,jypestraykids,Stray Kids,13.8M,6.4M,2.3M,50.2K,34.2K
1,2,khaby.lame,Khabane lame,149.2M,17.3M,2.3M,15.2K,8.7K
2,3,scarlettsspam2,scarlett,2.1M,17.9M,845.8K,53.9K,6.3K
3,4,addisonre,Addison Rae,88.7M,22M,906.6K,7.6K,26.2K
4,5,belindatok,Belinda,4.8M,14.2M,1.5M,14.5K,15.3K

In [6]:
tiktok["Views avg."] = tiktok["Views avg."].apply(lambda x: convert_metric(x)).astype(int)
tiktok["Likes avg."] = tiktok["Likes avg."].apply(lambda x: convert_metric(x)).astype(int)
tiktok["Comments avg."] = tiktok["Comments avg."].apply(lambda x: convert_metric(x)).astype(int)
tiktok["Shares avg."] = tiktok["Shares avg."].apply(lambda x: convert_metric(x)).astype(int)

In [7]:
tiktok.head()

,S.no,Tiktoker name,Tiktok name,Subscribers,Views avg.,Likes avg.,Comments avg.,Shares avg.
0,1,jypestraykids,Stray Kids,13.8M,6400000,2300000,50200,34200
1,2,khaby.lame,Khabane lame,149.2M,17300000,2300000,15200,8700
2,3,scarlettsspam2,scarlett,2.1M,17900000,845800,53900,6300
3,4,addisonre,Addison Rae,88.7M,22000000,906600,7600,26200
4,5,belindatok,Belinda,4.8M,14200000,1500000,14500,15300

In [8]:
tiktok.rename( columns={
    "S.no" : "rank",
    "Tiktoker name": "tiktoker",
    "Tiktok name" : "name",
    "Subscribers" : "subscribers",
    "Views avg." : "views_avg",
    "Likes avg." : "likes_avg",
    "Comments avg." : "comments_avg",
    "Shares avg.": "shares_avg"
}, inplace = True)

In [9]:
tiktok.head()

,rank,tiktoker,name,subscribers,views_avg,likes_avg,comments_avg,shares_avg
0,1,jypestraykids,Stray Kids,13.8M,6400000,2300000,50200,34200
1,2,khaby.lame,Khabane lame,149.2M,17300000,2300000,15200,8700
2,3,scarlettsspam2,scarlett,2.1M,17900000,845800,53900,6300
3,4,addisonre,Addison Rae,88.7M,22000000,906600,7600,26200
4,5,belindatok,Belinda,4.8M,14200000,1500000,14500,15300