In [129]:
import pandas as pd

In [130]:
instagram = pd.read_csv("instagram-sep-2022.csv")
tiktok = pd.read_csv("tiktok-sep-2022.csv")
youtube = pd.read_csv("youtube-sep-2022.csv")

In [131]:
def convert_metric(x):
    last_character = x[-1]
    if last_character == "K":
        without_last = x[:-1]
        return float(without_last) * 1000
    elif last_character == "M":
        without_last = x[:-1]
        return float(without_last) * 1000000
    else:
        return x

# Instagram

In [132]:
instagram.tail()

,S.no,Instagram name,Name,Subscribers,Audience country,Authentic engagement\n,Engagement average\r\n,Category_1,Category_2
1045,996,jadethirlwall,jade amelia thirlwall,9.4M,United States,174.2K,228.1K,NaN,NaN
1046,997,ninja,User Not Found,12.9M,United States,127.8K,163.9K,Computers & Gadgets,Machinery & Technologies
1047,998,myriamfares,Myriam Fares,20.6M,Iraq,75.8K,102.4K,NaN,NaN
1048,999,optimushwang,황민현,4.2M,South Korea,426K,508K,Lifestyle,NaN
1049,1000,syifahadjureal,Syifa Hadju,15.5M,Indonesia,110.2K,136.1K,Modeling,NaN

In [133]:
def check_name_problem_instagram(df):
    if "Engagement average\r\n" not in df.columns:
        df.rename(columns = {"Engagement average\n": "Engagement average\r\n"})
    return df

def drop_useless_cols_instagram(df):
    return df.drop(["S.no","Audience country","Authentic engagement\n","Category_1","Category_2"], axis = 1)

def converting_instagram(df):
    df["Engagement average\r\n"] = df["Engagement average\r\n"].apply(lambda x: convert_metric(x)).astype(int)
    df["Subscribers"] = df["Subscribers"].apply(lambda x: convert_metric(x)).astype(int)
    return df

def rename_instagram(df):
    df.rename( columns={
    "Instagram name": "id",
    "Name" : "name",
    "Subscribers" : "subscribers",
    "Engagement average\r\n" : "engagement_avg"
    }, inplace = True)
    return df

def sort_values_instagram(df):
    return df.sort_values(by = "subscribers", ascending = False).reset_index(drop = True)

In [134]:
instagram_clean = instagram.pipe(
    check_name_problem_instagram
).pipe(
    drop_useless_cols_instagram
).pipe(
    converting_instagram
).pipe(
    rename_instagram
).pipe(
    sort_values_instagram
)

# YouTube

In [ ]:
youtube.head()

,S.no,Name,Youtuber,Country,Subscribers,Category_2,Avg. views\r\n,Avg. likes,Avg Comments,Category_3
0,1,T-Series,tseries,India,224.4M,Music & Dance,141.5K,4.6K,125,NaN
1,2,Cocomelon - Nursery Rhymes,checkgate,NaN,142.5M,Education,12.5M,64.8K,0,NaN
2,3,PewDiePie,PewDiePie,United States,111.6M,Animation,1.9M,130.5K,7.4K,NaN
3,4,MrBeast,MrBeast6000,United States,104.1M,Video games,44.8M,2.2M,70.9K,Humor
4,5,✿ Kids Diana Show,✿ Kids Diana Show,NaN,100.5M,Animation,6.9M,34.8K,0,Toys

In [ ]:
youtube.columns

Index(['S.no', 'Name', 'Youtuber', 'Country', ' Subscribers', 'Category_2',
       'Avg. views\r\n', 'Avg. likes', 'Avg Comments', 'Category_3'],
      dtype='object')

In [ ]:
youtube.drop(["Country","Category_3","Category_2"], axis = 1, inplace = True)

In [ ]:
youtube[" Subscribers"] = youtube[" Subscribers"].apply(lambda x: convert_metric(x)).astype(int)
youtube["Avg. views\n"] = youtube["Avg. views\n"].apply(lambda x: convert_metric(x)).astype(int)
youtube["Avg. likes"] = youtube["Avg. likes"].apply(lambda x: convert_metric(x)).astype(int)
youtube["Avg Comments"] = youtube["Avg Comments"].apply(lambda x: convert_metric(x)).astype(int)

KeyError: 'Avg. views\n'

In [ ]:
youtube.head()

,S.no,Name,Youtuber,Subscribers,Avg. views\n,Avg. likes,Avg Comments
0,1,T-Series,tseries,224400000,141500,4600,125
1,2,Cocomelon - Nursery Rhymes,checkgate,142500000,12500000,64800,0
2,3,PewDiePie,PewDiePie,111600000,1900000,130500,7400
3,4,MrBeast,MrBeast6000,104100000,44800000,2200000,70900
4,5,✿ Kids Diana Show,✿ Kids Diana Show,100500000,6900000,34800,0

In [ ]:
youtube.rename( columns={
    "S.no" : "rank",
    "Youtuber": "youtuber",
    "Name" : "name",
    " Subscribers" : "subscribers",
    "Avg. views\n" : "views_avg",
    "Avg. likes" : "likes_avg",
    "Avg Comments" : "comments_avg"
}, inplace = True)

In [ ]:
youtube.head()

,rank,name,youtuber,subscribers,views_avg,likes_avg,comments_avg
0,1,T-Series,tseries,224400000,141500,4600,125
1,2,Cocomelon - Nursery Rhymes,checkgate,142500000,12500000,64800,0
2,3,PewDiePie,PewDiePie,111600000,1900000,130500,7400
3,4,MrBeast,MrBeast6000,104100000,44800000,2200000,70900
4,5,✿ Kids Diana Show,✿ Kids Diana Show,100500000,6900000,34800,0

# TikTok

In [ ]:
tiktok.head()

,S.no,Tiktoker name,Tiktok name,Subscribers,Views avg.,Likes avg.,Comments avg.,Shares avg.
0,1,jypestraykids,Stray Kids,13.8M,6.4M,2.3M,50.2K,34.2K
1,2,khaby.lame,Khabane lame,149.2M,17.3M,2.3M,15.2K,8.7K
2,3,scarlettsspam2,scarlett,2.1M,17.9M,845.8K,53.9K,6.3K
3,4,addisonre,Addison Rae,88.7M,22M,906.6K,7.6K,26.2K
4,5,belindatok,Belinda,4.8M,14.2M,1.5M,14.5K,15.3K

In [ ]:
tiktok["Views avg."] = tiktok["Views avg."].apply(lambda x: convert_metric(x)).astype(int)
tiktok["Likes avg."] = tiktok["Likes avg."].apply(lambda x: convert_metric(x)).astype(int)
tiktok["Comments avg."] = tiktok["Comments avg."].apply(lambda x: convert_metric(x)).astype(int)
tiktok["Shares avg."] = tiktok["Shares avg."].apply(lambda x: convert_metric(x)).astype(int)

In [ ]:
tiktok.head()

,S.no,Tiktoker name,Tiktok name,Subscribers,Views avg.,Likes avg.,Comments avg.,Shares avg.
0,1,jypestraykids,Stray Kids,13.8M,6400000,2300000,50200,34200
1,2,khaby.lame,Khabane lame,149.2M,17300000,2300000,15200,8700
2,3,scarlettsspam2,scarlett,2.1M,17900000,845800,53900,6300
3,4,addisonre,Addison Rae,88.7M,22000000,906600,7600,26200
4,5,belindatok,Belinda,4.8M,14200000,1500000,14500,15300

In [ ]:
tiktok.rename( columns={
    "S.no" : "rank",
    "Tiktoker name": "tiktoker",
    "Tiktok name" : "name",
    "Subscribers" : "subscribers",
    "Views avg." : "views_avg",
    "Likes avg." : "likes_avg",
    "Comments avg." : "comments_avg",
    "Shares avg.": "shares_avg"
}, inplace = True)

In [ ]:
tiktok.head()

,rank,tiktoker,name,subscribers,views_avg,likes_avg,comments_avg,shares_avg
0,1,jypestraykids,Stray Kids,13.8M,6400000,2300000,50200,34200
1,2,khaby.lame,Khabane lame,149.2M,17300000,2300000,15200,8700
2,3,scarlettsspam2,scarlett,2.1M,17900000,845800,53900,6300
3,4,addisonre,Addison Rae,88.7M,22000000,906600,7600,26200
4,5,belindatok,Belinda,4.8M,14200000,1500000,14500,15300